*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h2{

    color: aliceblue;
    font-family: cursive;
}
body{
	background: #29292B;
}

img{
	max-width: 300px;
}

.container{
	width: 95%;
	max-width: 1600px;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item{
	width: 22%;
	margin: 10px;
}

.item img{
	border: 1px solid #fff;
	cursor: pointer;
}

.ligthbox{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(0,0,0,.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-close{
	width: 70px;
	height: 70px;
	background: #00AAFF;
	border: 3px solid #fff;
	border-radius: 100%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
    position: fixed;
}
.btn-close:hover{
	
	background: #AE4545;
	
}

.button{
   width: 50px;
	height: 50px;
	background: #AE4545;
	border: 3px solid #fff;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
	position: fixed;
	top: 30px;
	right: 10px;
	cursor: pointer;
    text-decoration: none;
    
}
.button:hover{
     background-color: blue;
}